<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<toolbars>
		<item type="g_start" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="forecolor" />
		<item type="dropdown" name="FontName" width="110" text="[[FontName]]" command="FontName" />
		<item type="dropdown" name="FontSize" width="60" text="[[FontSize]]" command="FontSize" />
		<item type="g_end" />
	</toolbars>
</configuration>